[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
Cython = "==0.29"
"fastText" = {git = "https://github.com/facebookresearch/fastText.git", ref = "master"}
pymorfologik = "*"
tqdm = "*"
pandas = "*"
sklearn = "*"
keras = "*"
gensim = "*"
tensorflow = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
